/*
body {
  font-family: 'Lemonada', cursive;
}

h1 {
  font-family: 'Luxurious Roman', cursive;
}

.menu-category {
  font-family: 'Poppins', sans-serif;
}
*/



/* SIDEBAR CONTROL */
.page-content {
    margin-left: 3rem; /* Sayfa içeriğini sağa kaydırmak için 0 veya negatif bir değer kullanabilirsiniz */
    height: 100vh;
    width: 200vh;
    background-color: black;
  }

.page-div {
  margin-left: 3rem;
  margin-bottom: 3rem;
  width: 65rem;
  height: 100vh;
  border-radius: 2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.page-element {
  list-style-type: none;
  font-size: 0.8rem;
  margin-left: -1.5rem;
  width: 23rem;
}

.page-header {
  font-family: 'Poppins', sans-serif;
}

.page-image {
  opacity: 0.2;
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 40rem;
  margin-left: 0rem;
  border-radius: 2rem;
}



.page-item-header {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0.1rem;
  font-family: 'Poppins', sans-serif;
  margin-top: 1.5rem;
}

.page-item-price {
  font-family: 'Poppins', sans-serif;
  white-space: nowrap; /* Uzun fiyatların satır sonuna geçmesini engeller */
}

.page-item-description{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 0.7rem; 
  margin-top: 0.5rem;
}


/* EFFECT */
.after-effect {
  animation: fadeIn 3.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}